@import "tailwindcss";
@import "tw-animate-css";
@import "./components/scroll-bar.css";
@import "./view-transitions.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f7f8f8;
  --foreground: #0f1419;
  --card: #ffffff;
  --card-foreground: #0f1419;
  --popover: #ffffff;
  --popover-foreground: #0f1419;
  --primary: #669699;
  --primary-foreground: #ffffff;
  --secondary: #8a42d8;
  --secondary-foreground: #ffffff;
  --muted: #e5e5e6;
  --muted-foreground: #0f1419;
  --accent: #d1dfe0;
  --accent-foreground: #507577;
  --destructive: #f4212e;
  --destructive-foreground: #ffffff;
  --border: #e1eaef;
  --input: #f7f9fa;
  --ring: #1da1f2;
  --chart-1: #e76e50;
  --chart-2: #2a9d90;
  --chart-3: #274754;
  --chart-4: #e8c468;
  --chart-5: #f4a462;
  --sidebar: #f7f8f8;
  --sidebar-foreground: #0f1419;
  --sidebar-primary: #1e9df1;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e3ecf6;
  --sidebar-accent-foreground: #1e9df1;
  --sidebar-border: #e1e8ed;
  --sidebar-ring: #1da1f2;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);

  --ease-elastic: cubic-bezier(0.7, -0.8, 0.25, 1.6);
}

@theme inline {
  --font-outfit: "Outfit Variable", "Outfit Fallback", sans-serif;
  --font-inter: "Inter Variable", "Inter Fallback", sans-serif;
  --color-background: var(--background);
  --color-background-darker: #f0f3f4;
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--color-teal);
  --color-primary-foreground: var(--primary-foreground);

  --color-primary-25: var(--color-teal-25);
  --color-primary-50: var(--color-teal-50);
  --color-primary-100: var(--color-teal-100);
  --color-primary-200: var(--color-teal-200);
  --color-primary-300: var(--color-teal-300);
  --color-primary-400: var(--color-teal-400);
  --color-primary-500: var(--color-teal-500);
  --color-primary-600: var(--color-teal-600);
  --color-primary-700: var(--color-teal-700);
  --color-primary-800: var(--color-teal-800);
  --color-primary-900: var(--color-teal-900);
  --color-primary-950: var(--color-teal-950);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --color-red: #aa4b4b;
  --color-red-50: #faf4f4;
  --color-red-100: #f6eaea;
  --color-red-200: #e9cdcd;
  --color-red-300: #dbaeae;
  --color-red-400: #ca8787;
  --color-red-500: #aa4b4b;
  --color-red-600: #984343;
  --color-red-700: #833a3a;
  --color-red-800: #713232;
  --color-red-900: #4e2222;
  --color-red-950: #2a1313;

  --color-orange: #ff9c24;
  --color-orange-25: #fffffa;
  --color-orange-50: #fff8f0;
  --color-orange-100: #fff1e0;
  --color-orange-200: #ffdfb8;
  --color-orange-300: #ffcd8f;
  --color-orange-400: #ffb861;
  --color-orange-500: #ff9c24;
  --color-orange-600: #f58700;
  --color-orange-700: #d67600;
  --color-orange-800: #b36200;
  --color-orange-900: #804600;
  --color-orange-950: #613500;

  --color-yellow: #fada7a;
  --color-yellow-50: #fffcf5;
  --color-yellow-100: #fef8e6;
  --color-yellow-200: #fdf3d3;
  --color-yellow-300: #fceab5;
  --color-yellow-400: #fbe298;
  --color-yellow-500: #fada7a;
  --color-yellow-600: #f6bf18;
  --color-yellow-700: #dda808;
  --color-yellow-800: #b68a07;
  --color-yellow-900: #856505;
  --color-yellow-950: #5d4703;

  --color-green: #91a687;
  --color-green-25: #fcfdfc;
  --color-green-50: #f7f8f6;
  --color-green-100: #ecf0eb;
  --color-green-200: #d9e1d6;
  --color-green-300: #c7d1c2;
  --color-green-400: #acbca4;
  --color-green-500: #91a687;
  --color-green-600: #7e9772;
  --color-green-700: #6d8462;
  --color-green-800: #5c6f53;
  --color-green-900: #414f3b;
  --color-green-950: #303b2b;

  --color-teal: #669699;
  --color-teal-25: #ffffff;
  --color-teal-50: #f3f7f7;
  --color-teal-100: #e7eeef;
  --color-teal-200: #d1dfe0;
  --color-teal-300: #b3cacc;
  --color-teal-400: #91b3b6;
  --color-teal-500: #669699;
  --color-teal-600: #5e8a8d;
  --color-teal-700: #507577;
  --color-teal-800: #436365;
  --color-teal-900: #2d4243;
  --color-teal-950: #233334;

  --color-blue: #536493;
  --color-blue-50: #f5f6f9;
  --color-blue-100: #e8ebf2;
  --color-blue-200: #ced4e3;
  --color-blue-300: #aeb7d1;
  --color-blue-400: #8694bb;
  --color-blue-500: #536493;
  --color-blue-600: #4a5982;
  --color-blue-700: #425075;
  --color-blue-800: #343e5b;
  --color-blue-900: #272f44;
  --color-blue-950: #141824;


  --color-purple: #8a42d8;
  --color-purple-50: #f5effc;
  --color-purple-100: #ede4f9;
  --color-purple-200: #d9c8f3;
  --color-purple-300: #c3a8ed;
  --color-purple-400: #a978e5;
  --color-purple-500: #8a42d8;
  --color-purple-600: #7525c8;
  --color-purple-700: #5d18a0;
  --color-purple-800: #49117f;
  --color-purple-900: #330b5c;
  --color-purple-950: #290a46;

  --color-pink: #c78ea6;
  --color-pink-50: #faf5f7;
  --color-pink-100: #f7eef2;
  --color-pink-200: #ecd9e1;
  --color-pink-300: #e2c5d1;
  --color-pink-400: #d5aabc;
  --color-pink-500: #c78ea6;
  --color-pink-600: #bd7a96;
  --color-pink-700: #b36686;
  --color-pink-800: #9d4e6f;
  --color-pink-900: #71384f;
  --color-pink-950: #4b2535;

  --color-turquoise: #6db6ad;
  --color-turquoise-50: #f5faf9;
  --color-turquoise-100: #e7f3f2;
  --color-turquoise-200: #cfe7e4;
  --color-turquoise-300: #b4dad5;
  --color-turquoise-400: #92c9c2;
  --color-turquoise-500: #6db6ad;
  --color-turquoise-600: #53a79d;
  --color-turquoise-700: #49928a;
  --color-turquoise-800: #3d7a73;
  --color-turquoise-900: #2c5853;
  --color-turquoise-950: #1f3d3a;

  --color-brown: #a87e61;

  --color-gray: #a3a29e;
  --color-gray-50: #f5f5f4;
  --color-gray-100: #eeeded;
  --color-gray-200: #dad9d8;
  --color-gray-300: #c9c7c5;
  --color-gray-400: #b5b3b0;
  --color-gray-500: #a4a29e;
  --color-gray-600: #84817b;
  --color-gray-700: #64625e;
  --color-gray-800: #42403e;
  --color-gray-900: #222220;
  --color-gray-950: #100f0f;

  --color-text: #0f1419;
  --color-text-muted: #6B6760;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.dark {
  --background: #000000;
  --foreground: #e7e9ea;
  --card: #17181c;
  --card-foreground: #d9d9d9;
  --popover: #000000;
  --popover-foreground: #e7e9ea;
  --primary: #1c9cf0;
  --primary-foreground: #ffffff;
  --secondary: #f0f3f4;
  --secondary-foreground: #0f1419;
  --muted: #181818;
  --muted-foreground: #72767a;
  --accent: #061622;
  --accent-foreground: #1c9cf0;
  --destructive: #f4212e;
  --destructive-foreground: #ffffff;
  --border: #242628;
  --input: #22303c;
  --ring: #1da1f2;
  --chart-1: #1e9df1;
  --chart-2: #00b87a;
  --chart-3: #f7b928;
  --chart-4: #17bf63;
  --chart-5: #e0245e;
  --sidebar: #17181c;
  --sidebar-foreground: #d9d9d9;
  --sidebar-primary: #1da1f2;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #061622;
  --sidebar-accent-foreground: #1c9cf0;
  --sidebar-border: #38444d;
  --sidebar-ring: #1da1f2;
  --font-sans: Outfit, "Outfit Fallback", sans-serif
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-outfit);
  }
}
