@import "tailwindcss";
@import "tw-animate-css";
@import "./components/scroll-bar.css";
@import "./view-transitions.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(180 6.6667% 97.0588%);
  --foreground: hsl(210 25% 7.8431%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(210 25% 7.8431%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(210 25% 7.8431%);
  --primary: hsl(184 20% 50%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(224 28% 45%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(240 1.9608% 90%);
  --muted-foreground: hsl(210 25% 7.8431%);
  --accent: hsl(184 19.5% 84.9%);
  --accent-foreground: hsl(183.1 19.6% 39%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(201.4286 30.4348% 90.9804%);
  --input: hsl(200 23.0769% 97.451%);
  --ring: hsl(202.8169 89.1213% 53.1373%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --sidebar: hsl(180 6.6667% 97.0588%);
  --sidebar-foreground: hsl(210 25% 7.8431%);
  --sidebar-primary: hsl(203.8863 88.2845% 53.1373%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(211.5789 51.3514% 92.7451%);
  --sidebar-accent-foreground: hsl(203.8863 88.2845% 53.1373%);
  --sidebar-border: hsl(205 25% 90.5882%);
  --sidebar-ring: hsl(202.8169 89.1213% 53.1373%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);

  --ease-elastic: cubic-bezier(0.7, -0.8, 0.25, 1.6);
}

@theme inline {
  --font-outfit: var(--font-outfit);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--color-teal);
  --color-primary-foreground: var(--primary-foreground);

  --color-primary-25: var(--color-teal-25);
  --color-primary-50: var(--color-teal-50);
  --color-primary-100: var(--color-teal-100);
  --color-primary-200: var(--color-teal-200);
  --color-primary-300: var(--color-teal-300);
  --color-primary-400: var(--color-teal-400);
  --color-primary-500: var(--color-teal-500);
  --color-primary-600: var(--color-teal-600);
  --color-primary-700: var(--color-teal-700);
  --color-primary-800: var(--color-teal-800);
  --color-primary-900: var(--color-teal-900);
  --color-primary-950: var(--color-teal-950);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --color-red: hsl(0, 39%, 48%);
  --color-red-50: hsl(0 37.5% 96.9%);
  --color-red-100: hsl(0 40% 94.1%);
  --color-red-200: hsl(0 38.9% 85.9%);
  --color-red-300: hsl(0 38.5% 77.1%);
  --color-red-400: hsl(0 38.7% 66.1%);
  --color-red-500: hsl(0 39% 48%);
  --color-red-600: hsl(0 38.8% 42.9%);
  --color-red-700: hsl(0 38.6% 37.1%);
  --color-red-800: hsl(0 38.7% 32%);
  --color-red-900: hsl(0 39.3% 22%);
  --color-red-950: hsl(0 37.7% 12%);

  --color-orange: hsl(33, 100%, 57%);
  --color-orange-25: hsl(60, 100%, 99%);
  --color-orange-50: hsl(32 100% 97.1%);
  --color-orange-100: hsl(32.9 100% 93.9%);
  --color-orange-200: hsl(33 100% 86.1%);
  --color-orange-300: hsl(33.2 100% 78%);
  --color-orange-400: hsl(33 100% 69%);
  --color-orange-500: hsl(32.9 100% 57.1%);
  --color-orange-600: hsl(33.1 100% 48%);
  --color-orange-700: hsl(33.1 100% 42%);
  --color-orange-800: hsl(32.8 100% 35.1%);
  --color-orange-900: hsl(32.8 100% 25.1%);
  --color-orange-950: hsl(32.8 100% 19%);

  --color-yellow: hsl(45, 93%, 73%);
  --color-yellow-50: hsl(42 100% 98%);
  --color-yellow-100: hsl(45 92.3% 94.9%);
  --color-yellow-200: hsl(45.7 91.3% 91%);
  --color-yellow-300: hsl(44.8 92.2% 84.9%);
  --color-yellow-400: hsl(44.8 92.5% 79%);
  --color-yellow-500: hsl(45 92.8% 72.9%);
  --color-yellow-600: hsl(45.1 92.5% 52.9%);
  --color-yellow-700: hsl(45.1 93% 44.9%);
  --color-yellow-800: hsl(44.9 92.6% 37.1%);
  --color-yellow-900: hsl(45 92.8% 27.1%);
  --color-yellow-950: hsl(45.3 93.7% 18.8%);

  --color-green: hsl(101, 15%, 59%);
  --color-green-25: hsl(90, 33%, 99%);
  --color-green-50: hsl(90 12.5% 96.9%);
  --color-green-100: hsl(108 14.3% 93.1%);
  --color-green-200: hsl(103.6 15.5% 86.1%);
  --color-green-300: hsl(100 14% 79%);
  --color-green-400: hsl(100 15.2% 69%);
  --color-green-500: hsl(100.6 14.8% 59%);
  --color-green-600: hsl(100.5 15.1% 52%);
  --color-green-700: hsl(100.6 14.8% 45.1%);
  --color-green-800: hsl(100.7 14.4% 38%);
  --color-green-900: hsl(102 14.5% 27.1%);
  --color-green-950: hsl(101.3 15.7% 20%);

  --color-teal: hsl(184, 20%, 50%);
  --color-teal-25: hsl(180, 100%, 100%);
  --color-teal-50: hsl(180 20% 96.1%);
  --color-teal-100: hsl(187.5 20% 92.2%);
  --color-teal-200: hsl(184 19.5% 84.9%);
  --color-teal-300: hsl(184.8 19.7% 75.1%);
  --color-teal-400: hsl(184.9 20.2% 64.1%);
  --color-teal-500: hsl(183.5 20% 50%);
  --color-teal-600: hsl(183.8 20% 46.1%);
  --color-teal-700: hsl(183.1 19.6% 39%);
  --color-teal-800: hsl(183.5 20.2% 32.9%);
  --color-teal-900: hsl(182.7 19.6% 22%);
  --color-teal-950: hsl(183.5 19.5% 17.1%);

  --color-blue: hsl(224, 28%, 45%);
  --color-blue-50: hsl(225 25% 96.9%);
  --color-blue-100: hsl(222 27.8% 92.9%);
  --color-blue-200: hsl(222.9 27.3% 84.9%);
  --color-blue-300: hsl(224.6 27.6% 75.1%);
  --color-blue-400: hsl(224.2 28% 62.9%);
  --color-blue-500: hsl(224.1 27.8% 45.1%);
  --color-blue-600: hsl(223.9 27.5% 40%);
  --color-blue-700: hsl(223.5 27.9% 35.9%);
  --color-blue-800: hsl(224.6 27.3% 28%);
  --color-blue-900: hsl(223.4 27.1% 21%);
  --color-blue-950: hsl(225 28.6% 11%);


  --color-purple: oklch(62.24% 0.107 301.12);
  --color-purple-50: oklch(95.67% 0.011 303.26);
  --color-purple-100: oklch(92.38% 0.019 302.28);
  --color-purple-200: oklch(84.68% 0.041 301.26);
  --color-purple-300: oklch(77.22% 0.063 301.95);
  --color-purple-400: oklch(69.68% 0.085 301.94);
  --color-purple-500: oklch(62.24% 0.107 301.12);
  --color-purple-600: oklch(54.52% 0.126 301.74);
  --color-purple-700: oklch(44.2% 0.105 301.75);
  --color-purple-800: oklch(34.44% 0.084 301.39);
  --color-purple-900: oklch(23.76% 0.058 302.24);
  --color-purple-950: oklch(19.36% 0.046 300.2);

  --color-pink: hsl(335, 34%, 67%);
  --color-pink-50: hsl(336 33.3% 97.1%);
  --color-pink-100: hsl(333.3 36% 95.1%);
  --color-pink-200: hsl(334.7 33.3% 88.8%);
  --color-pink-300: hsl(335.2 33.3% 82.9%);
  --color-pink-400: hsl(334.9 33.9% 75.1%);
  --color-pink-500: hsl(334.7 33.7% 66.9%);
  --color-pink-600: hsl(334.9 33.7% 61%);
  --color-pink-700: hsl(335.1 33.6% 55.1%);
  --color-pink-800: hsl(334.9 33.6% 46.1%);
  --color-pink-900: hsl(335.8 33.7% 33.1%);
  --color-pink-950: hsl(334.7 33.9% 22%);

  --color-turquoise: hsl(173, 33%, 57%);
  --color-turquoise-50: hsl(168 33.3% 97.1%);
  --color-turquoise-100: hsl(175 33.3% 92.9%);
  --color-turquoise-200: hsl(172.5 33.3% 85.9%);
  --color-turquoise-300: hsl(172.1 33.9% 78%);
  --color-turquoise-400: hsl(172.4 33.7% 68%);
  --color-turquoise-500: hsl(172.6 33.3% 57.1%);
  --color-turquoise-600: hsl(172.9 33.6% 49%);
  --color-turquoise-700: hsl(173.4 33.3% 42.9%);
  --color-turquoise-800: hsl(173.1 33.3% 35.9%);
  --color-turquoise-900: hsl(173.2 33.3% 25.9%);
  --color-turquoise-950: hsl(174 32.6% 18%);

  --color-brown: hsl(24, 29%, 52%);

  --color-gray: hsl(40, 3%, 63%);
  --color-gray-50: #f5f5f4;
  --color-gray-100: #eeeded;
  --color-gray-200: #dad9d8;
  --color-gray-300: #c9c7c5;
  --color-gray-400: #b5b3b0;
  --color-gray-500: #a4a29e;
  --color-gray-600: #84817b;
  --color-gray-700: #64625e;
  --color-gray-800: #42403e;
  --color-gray-900: #222220;
  --color-gray-950: #100f0f;

  --color-text: hsl(210 25% 7.8431%);
  --color-text-muted: hsl(215, 14%, 34%);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(200 6.6667% 91.1765%);
  --card: hsl(228 9.8039% 10%);
  --card-foreground: hsl(0 0% 85.098%);
  --popover: hsl(0 0% 0%);
  --popover-foreground: hsl(200 6.6667% 91.1765%);
  --primary: hsl(203.7736 87.6033% 52.549%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(195 15.3846% 94.902%);
  --secondary-foreground: hsl(210 25% 7.8431%);
  --muted: hsl(0 0% 9.4118%);
  --muted-foreground: hsl(210 3.3898% 46.2745%);
  --accent: hsl(205.7143 70% 7.8431%);
  --accent-foreground: hsl(203.7736 87.6033% 52.549%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(210 5.2632% 14.902%);
  --input: hsl(207.6923 27.6596% 18.4314%);
  --ring: hsl(202.8169 89.1213% 53.1373%);
  --chart-1: hsl(203.8863 88.2845% 53.1373%);
  --chart-2: hsl(159.7826 100% 36.0784%);
  --chart-3: hsl(42.029 92.8251% 56.2745%);
  --chart-4: hsl(147.1429 78.5047% 41.9608%);
  --chart-5: hsl(341.4894 75.2% 50.9804%);
  --sidebar: hsl(228 9.8039% 10%);
  --sidebar-foreground: hsl(0 0% 85.098%);
  --sidebar-primary: hsl(202.8169 89.1213% 53.1373%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(205.7143 70% 7.8431%);
  --sidebar-accent-foreground: hsl(203.7736 87.6033% 52.549%);
  --sidebar-border: hsl(205.7143 15.7895% 26.0784%);
  --sidebar-ring: hsl(202.8169 89.1213% 53.1373%);
  --font-sans: Outfit, Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Outfit Variable", Open Sans, sans-serif;
  }
}
